@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #f8f8f8;
  background: #131318;
}

body input,
body textarea {
  color: black;
}

a {
  color: #2d7bd4;
}

a:hover {
  border-bottom: 1px solid;
}

p {
  margin: 8px 0;
}

code {
  color: #ffa500;
}

li {
  padding: 4px;
}

/* Add this to your global CSS file */
.chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  max-height: 500px;
  z-index: 1000;
  border: 1px solid #ccc;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
